:root {
    --background-color: #fafafa;
    --contrast-color: #ffffff;
    --first-color: #0d6efd;
    --second-color: #131313;
}

nav.navbar{
    background: var(--contrast-color);
}
h1, h2, h3, h4, h5, h6, p, span, strong, a, a::after, ul, li{
    color: var(--second-color) !important;
}
ul.dropdown-menu{
    background: var(--contrast-color);
}
ul.dropdown-menu li a{
    color: var(--second-color);
}
ul.dropdown-menu li a.dropdown-item:hover{
    background: var(--background-color);
    color: var(--first-color);
}
#pagesMenu, #postMenu{
    background: var(--background-color) !important;
    color: var(--second-color);
}
#search, #post-textarea {
    color: var(--second-color) !important;
    background: var(--background-color) !important;
}
#search::placeholder, #post-textarea::placeholder {
    color: var(--second-color);
}
#user-post-card a{
    background: var(--background-color) !important;
}
#user-container{
    background: var(--background-color) !important;
}
header{
    background: var(--contrast-color)!important;
}
header #loginButton{
    background: var(--background-color);
    color: var(--second-color);
}
header #registerButton{
    background: var(--background-color);
    color: var(--second-color);
    border: 1px solid var(--contrast-color);
}
.active{
    background: var(--background-color) !important;
    color: var(--second-color);
}
.alert-primary{
    background: var(--contrast-color);
    color: var(--second-color);
    border: 1px solid var(--contrast-color);
}
.cardShare{
    background: var(--background-color) !important;
}
.cardShare i{
    color: var(--second-color) !important;
}
.dropdown-view-user{
    background: var(--first-color) !important;
    color: var(--second-color) !important;
}
html ,body, main{
    background: var(--background-color);
}
div.card, div.card-footer, div.card-header{
    background: var(--contrast-color) ;
}
div.card-header a{
    background: var(--background-color) !important;
}
.modal h1, .modal h2, .modal p, .modal span, .modal a{
    color: #000000 !important;
}
